

.page {
    overflow: hidden;
    color: white;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}


.smallt {
    position: absolute;
    margin-top: 115px;
    transition: font-size 0.3s ease;
    z-index: 5;
    font-weight: bold;

}

.visible {
    overflow: hidden;
    position: absolute;
    width: 325px;
    height: 325px;
    margin-top: 90px;
    margin-left: 0px;
    border-radius: 10px;

}

iframe {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -65px;
    border: none;
    border-radius: 15px;
    z-index: 6;
}


.text1 {
    position: absolute;
    margin-top: 200px;
    margin-right: 0px;
    font-size: 70px;
    font-weight: bold;
    z-index: 5;
    transition: font-size 0.3s ease;
    font-family: 'SF Pro Display', sans-serif; 
    
        }
        .betting {
            position: absolute;
            margin-top: 380px;
            margin-right: 0px;
            font-size: 80px;
            font-weight: bold;
            z-index: 5;
            transition: font-size 0.3s ease;
            font-family: 'SF Pro Display', sans-serif; 
            
        }
        .fly {
            position: absolute;
            margin-top: 390px;
            margin-right: 0px;
            font-size: 60px;
            font-weight: bold;
            z-index: 5;
            transition: font-size 0.4s ease;
            font-family: 'SF Pro Display', sans-serif; 
            
        }


.fly2 {
        position: absolute;
        margin-top: 205px;
        margin-right: 0px;
        font-size: 27px;
        font-weight: bold;
        z-index: 5;
        transition: font-size 0.4s ease;
        font-family: 'Oswald', sans-serif;    
}



.loader {
    width: 150px;
    height: 4px;
    border: 1px solid #261c4a;
    background-color: #151028;
    position: absolute;
    border-radius: 5px; 
    margin: 270px auto -270px auto;
}

.loader .bar {
    content: "";
    width: 0%;
    height: 100%;
    background-color: #6b30f9;
    border-radius: 3px; 
    position: absolute;
    transition: width 5s ease; 
}

@keyframes loading {

    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}



.page::before {
    content: "";
    background-image: url('images/bg.jpg');
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center top;
    box-sizing: border-box;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


img {
   pointer-events: none;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.page__rate-image {
    max-width: 40px;
    max-height: 40px;
    margin-right: 25px;
}

.page__rate-wrapper {
    display: flex;
    flex-direction: column;
}

.page__rate-title {
    color: #ffc300;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
}

.page__rate-subtitle {
    font-size: 12px;
    margin: 0;
}

.winner {
  
    display: block;
    width: 300px;
    margin: auto;
    position: relative;
}



.luck {
   
    display: block;
    width: 150px;
    margin-top: 180px;
    margin-left: 155px;
    position: absolute;
}

.win {
   
    display: block;
    width: 100px;
    margin-top: 160px;
    margin-left: 0px;
    position: absolute;
}






.button2 {
    width: 220px;
    height: 80px;
    border-radius: 30px;
    margin-top: 600px;
    font-size: 35px;
    font-style: italic;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-align: center;
    position: absolute;
    top: 50%; /* Центрировать по вертикали */
    left: 50%; /* Центрировать по горизонтали */
    transform: translate(-50%, -50%); /* Смещение для точного центрирования */
    border: none;
    display: inline-block;
    color: rgb(221, 221, 221);
    text-shadow: rgb(138, 138, 138) 0px 0px 20px;
    background: linear-gradient(263.87deg, rgb(148, 78, 245) 0%, rgb(92, 36, 252) 100%);
    box-shadow: rgba(25, 201, 245, 0.1) 0px 10px 20px, rgba(92, 36, 252, 0.1) 0px 10px 20px, rgb(148, 78, 245) 0px -2px 4px inset, rgba(148, 78, 245, 0.6) 0px -8px 8px inset;
    cursor: pointer;
}



.loader2 {
    width: 325px;
    height: 100px;
    border: 1px solid #261c4a;
    background-color: #151028;
    position: absolute;
    border-radius: 20px; 
    margin-top: 375px;
    margin-left: 0px;
}




.circle {
    width: 175px;
    height: 175px;
    border-radius: 50%; 
    position: absolute;
    border: 5px solid #944ef5;
    margin-top: 456px;
    background-color: black;
    
    z-index: 1;
}

.cv {
    width: 300px; 
    height: 200px;
    border-radius: 20px; 
    border: 1px solid #261c4a;
    position: relative;
    display: flex;
    margin: 120px auto -415px auto;
    justify-content: center;
    background-color: #151028;
    overflow: hidden;
    z-index: 1;
}

.rocket {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center top;
    box-sizing: border-box;
    max-width: 300px;
    position: relative;
    display: flex;
    flex-direction: column; /* Ensure child elements stack vertically */
    align-items: center; /* Center child elements horizontally */
    margin: 120px auto 0 auto;
    transition: all 0.32s ease 0s;
    z-index: 5;
}



.rocket_fire {
    position: absolute;
    width: 65px;
    margin-top: 205px;
    margin-right: 130px;
    animation: fly 4s forwards;
}



.rocket_boy {
    position: absolute;
    transition: all 0.32s ease 0s;
    transform: rotate(7deg);
    width: 65px;
    margin-top: 150px;
    margin-right: 50px;
    display: block;
    animation: fly 4s forwards;
}

.obloko {
    position: absolute;
    transition: all 0.32s ease 0s;
    transform: rotate(7deg);
    width: 300px;
    margin-top: 110px;
    margin-left: 600px;
    display: block;
    animation: fly1 6s linear infinite;
    z-index: 2;
}

.obloko2 {
    position: absolute;
    transition: all 0.32s ease 0s;
    transform: rotate(7deg);
    width: 300px;
    margin-top: 110px;
    margin-left: 0px;
    display: block;
    animation: fly1 6s linear infinite;
    z-index: 2;
}

.tab {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
    border-radius: 50px;
    height: 70px; /* Фиксированная высота для десктопа */
}

.tab button {
    background-color: inherit;
    flex: 1 0 auto;
    margin: 0 10px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.3s;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    font-size: 16px;
    font-family: 'Intro', Arial, sans-serif;
}

.tab button img {
    max-width: 38px;
    height: 38px;
}

.tab button:hover {
    background-color: #555;
    transform: translateY(-2px);
}

.tab button.active {
    background-color: #666;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* Медиазапросы для адаптации на мобильных устройствах */
@media (max-width: 768px) {
    .tab {
        height: 70px; /* Фиксированная высота для планшетов */
    }

    .tab button {
        margin: 0 5px;
        padding: 10px 15px;
        font-size: 14px;
    }

    .tab button img {
        max-width: 32px;
        height: 32px;
    }
}

@media (max-width: 480px) {
    .tab {
        height: 70px; /* Фиксированная высота для мобильных устройств */
    }


    .tab button {
        margin: 0 3px;
        padding: 8px 12px;
        font-size: 12px;
    }

    .tab button img {
        max-width: 28px;
        height: 28px;
    }
}



@keyframes fly {
    0% {
        transform: translate(-70px, 50px);
    }
 
  
    100% {
        transform: translate(120px, -25px);
    }
}


@keyframes fly1 {
    0% {
    transform: translate(0px, 0px);
      }
    
    100% {
    transform: translate(-300px, 0px);
    }
}
