@font-face {
    font-family: 'Halvar Breitschrift';
    src: url('fonts/halvar_breitschrift.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('fonts/intro.otf') format('opentype'); /* Убедитесь, что путь правильный */
}

html, body {
    touch-action: none; /* Отключаем стандартные жесты, такие как зум */
    user-select: none;  /* Отключаем выделение текста */
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Отключаем прокрутку */
    position: fixed;
}

body {
    -webkit-text-size-adjust: 100%;
    background-color: #090F1E;
    color: #FFFFFF;
    font-family: 'Halvar Breitschrift', sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    margin-top: 2.4rem;
    flex-direction: column;
    align-items: center; /* Центрируем все элементы по горизонтали */
}

#status {
    width: 420px; /* Устанавливаем фиксированную ширину */
    height: 60px; /* Устанавливаем фиксированную высоту */
    display: flex; /* Центрируем текст по горизонтали и вертикали */
    align-items: center; /* Центрируем текст по вертикали */
    justify-content: center; /* Центрируем текст по горизонтали */
    font-size: 40px; /* Устанавливаем размер шрифта */
    font-weight: bold; /* Устанавливаем жирность шрифта */
    z-index: -2;
}

#signal-accuracy {
    color: #9D9FA5;
    font-size: 14px;
    margin-top: -0.4rem;
    margin-bottom: 0.9rem;
    font-family: "Microsoft Sans Serif", Arial, sans-serif;
    z-index: 0;
}

#game-field {
    width: 280px;
    height: 280px;
    padding: 10.5px 12px; /* Отступы по краям внутри игрового поля */
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 колонок одинаковой ширины */
    grid-template-rows: repeat(5, 1fr);    /* 5 строк одинаковой высоты */
    gap: 6.5px; /* Расстояние между клетками */
    background-image: url('images/field.png');
    background-size: cover;
    box-sizing: border-box; /* Включаем padding в общие размеры блока */
}

/* Стили для ячеек */
.cell {
    width: 46.4px;
    height: 46.4px;
    background-size: cover;
}

.cell-odd {
    background-image: url('images/cell_2.png');
}

.cell-even {
    background-image: url('images/cell_1.png');
}

.star {
    background-image: url('images/star.png');
}

#gradient-background {
    position: absolute;
    top: 22.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70rem; /* ширина в rem */
    height: 50rem; /* высота в rem */
    background: radial-gradient(ellipse at center, rgba(21, 27, 46, 1) 20%, rgba(21, 27, 46, 0) 50%);
    z-index: -2; /* На заднем плане, ниже остальных элементов */
}

.arrow-container {
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    margin-top: 1rem;
}

.arrow-button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}

button#flip {
    padding: 1.3rem;
    background-color: #063aee;
    border: none;
    border-radius: 30px;
    color: #FFF;
    font-family: 'Intro', sans-serif;
    font-size: 16px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 6px #557aff66;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

button#flip:disabled {
    background-color: grey;
    cursor: not-allowed;
    box-shadow: 0 0px 6px grey;
    z-index: 0;
}

#left-arrow, #right-arrow {
    margin: 0 0.375rem;
}

.arrow-button img {
    width: 2.25rem;
    height: 2.25rem;
}

.arrow-button img {
    width: 2.25rem;
    height: 2.25rem;
}

.disabled-arrow {
    opacity: 0.5;
    pointer-events: none; /* Отключаем возможность клика */
}

.pulse-once {
    animation: pulse 0.6s ease-out;
}

.full-width-line {
    width: 100%;
    height: 1px;
    background-color: #3c435b;
    opacity: 50%;
    position: absolute;
    top: 177px;
    left: 0;
    z-index: 2;
}

/* Размер иконки языка */
:root {
    --language-icon-width: 2.4rem;
    --language-icon-height: 1.65rem;
}

/* Добавляем стили для переключения языков */
.language-selector {
    position: absolute;
    grid-gap: 10px;
    padding: 10px;
    top: 105px;
    right: 10px;
    z-index: 2;
}

/* Стиль для кнопки текущего языка */
#language-icon {
    width: var(--language-icon-width);
    height: var(--language-icon-height);
    cursor: pointer;
    outline: none; /* Убираем обводку при фокусе */
    user-select: none; /* Отключаем выделение текста/элемента */
    -webkit-tap-highlight-color: transparent; /* Убираем выделение цветом на мобильных устройствах */
    border-radius: 0.5rem; /* Закругляем края увеличено на 10% */
    background-color: #1f2639; /* Цвет фона */
    border: 1px solid #34405e; /* Цвет рамки */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem; /* Добавляем внутренние отступы увеличены на 10% */
    z-index: 4;
}

/* Стили для выпадающего списка языков */
#language-dropdown {
    position: absolute;
    top: 10px; /* Отступ сверху увеличен на 10% */
    right: 10px; /* Отступ справа увеличен на 10% */
    display: none; /* Скрываем по умолчанию */
    grid-template-columns: repeat(2, calc(var(--language-icon-width) + 0.6rem)); /* Две колонки с увеличенной областью */
    grid-template-rows: repeat(3, calc(var(--language-icon-height) + 0.6rem)); /* Три строки с увеличенной областью */
    grid-gap: 0.1rem; /* Зазор между элементами увеличен на 10% */
    background-color: #1f2639;
    border: 1px solid #34405e; /* Цвет рамки */
    border-radius: 0.5rem; /* Закругляем углы */
    padding: 0rem; /* Внутренние отступы */
    z-index: 4;
}

/* Стили для иконок языков в выпадающем списке */
#language-dropdown img {
    width: var(--language-icon-width); /* Сохраняем размер иконки увеличенным */
    height: var(--language-icon-height); /* Сохраняем размер иконки увеличенным */
    padding: 0.3rem; /* Добавляем внутренние отступы для увеличения кликабельной области увеличены на 10% */
    cursor: pointer;
    outline: none; /* Убираем обводку при фокусе */
    z-index: 4;
}

.logo-container {
    position: absolute;
    top: 120px;
    left: 20px;
    z-index: 2;
}

.logo-wrapper {
    width: 70px; /* Ширина области */
    height: 32px; /* Высота области */
    cursor: pointer; /* Указатель мыши при наведении */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Логотип будет скрыт, если он выходит за границы */
    z-index: 2;
}

#logo-1win {
    width: 70px; /* Ширина логотипа */
    height: 32px;
    display: block;
}

.menu-bar {
    width: 100%;
    height: 78px;
    position: absolute;
    top: 0;
    background-color: #090F1E;
    z-index: 1;
}

#progress-bar-container {
    width: 36%;
    height: 5px;
    background-color: #ddd;
    margin-top: 1rem;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background-color: #063aee;
}

#countdown {
    margin-top: 10px;
    font-size: 14px;
    color: #9D9FA5;
    opacity: 80%;
    font-family: "Microsoft Sans Serif", Arial, sans-serif;
}

/* Анимация исчезновения ячейки */
.fade-out {
    animation: fadeOut 0.6s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

/* Анимация появления звезды */
.fade-in {
    animation: fadeIn 0.6s forwards;
}

.tab {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
    border-radius: 50px;
    height: 70px; /* Фиксированная высота для десктопа */
}

.tab button {
    background-color: inherit;
    flex: 1 0 auto;
    margin: 0 10px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.3s;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    font-size: 16px;
    font-family: 'Intro', Arial, sans-serif;
}

.tab button img {
    max-width: 38px;
    height: 38px;
}

.tab button:hover {
    background-color: #555;
    transform: translateY(-2px);
}

.tab button.active {
    background-color: #666;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* Медиазапросы для адаптации на мобильных устройствах */
@media (max-width: 768px) {
    .tab {
        height: 70px; /* Фиксированная высота для планшетов */
    }

    .tab button {
        margin: 0 5px;
        padding: 10px 15px;
        font-size: 14px;
    }

    .tab button img {
        max-width: 32px;
        height: 32px;
    }
}

@media (max-width: 480px) {
    .tab {
        height: 70px; /* Фиксированная высота для мобильных устройств */
    }


    .tab button {
        margin: 0 3px;
        padding: 8px 12px;
        font-size: 12px;
    }

    .tab button img {
        max-width: 28px;
        height: 28px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.star-fade-out {
    animation: starFadeOut 0.6s forwards;
}

@keyframes starFadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
